
body {
    background-color: aqua;

}
header h1 {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}
nav h2 {
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
nav ul li {
    text-align: center;
}